/* Stop scrolling */
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  margin: 0;
}
/* Stop scrolling */

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.grid-row {
  display: flex;
  background: url("./sand.png") repeat;
  background-size: 20px 20px;
}

.grid-square {
  width: 9vw;
  height: 9vw;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* .rock-1 {
  background: url(src/pages/image/moss-rock.png);
} */

.mossRock {
  position: absolute;
  right: 13vw;
  margin-top: -5vh;
  width: 20vw;
  height: 10vh;
  z-index: 0;
}

.spiritHouse {
  position: absolute;
  right: 11vw;
  margin-top: -4.5vh;
  width: 20vw;
  height: 13vh;
  z-index: 0;
}

.catLuck {
  position: absolute;
  left: 4vw;
  margin-top: -1.5vh;
  width: 20vw;
  height: 10vh;
  z-index: 0;
}
