.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.grid-row {
  display: flex;
}

.grid-square {
  width: 9vw;
  height: 9vw;
  border: .5px solid #ccc;

}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}

.filled-square {
  /* background: purple; */
}

/* .rock-1 {
  background: url(src/pages/image/moss-rock.png);
} */

.mossRock{
  position: absolute;
  right: 10vw;
  margin-top: -5vh;
  width: 20vw;
  height: 10vh;
  z-index: 0;
}

.spiritHouse{
  position: absolute;
  right: 10vw;
  margin-top: -5vh;
  width: 20vw;
  height: 14vh;
  z-index: 0;
}
.catLuck{
  position: absolute;
  left: 0vw;
  margin-top: 0vh;
  width: 20vw;
  height: 10vh;
  z-index: 0;
}

